[Desktop Entry]
Version=1.0
Type=Application
Name=SDL2 Warren Tetris
Comment=The tetris of the warren with SDL2
Icon=/usr/local/share/sdl2-warren-tetris/icons/warren-tetris.ico
Exec=/usr/local/bin/sdl2-warren-tetris
Path=/usr/local/share/sdl2-warren-tetris
Actions=
Categories=Game;The games of the warren;